<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}
</head>

<body id="originalbody">

{% block flashmessages %}
    {% set flashbag = app.session.flashbag.all %}
    {% if flashbag is not empty %}
        {% for label, flashes in flashbag %}
            {% for flash in flashes %}
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="alert-success">{{ flash }}</p>
                    </div>
                </div>
                <script>
                    let modal = document.getElementById('myModal');
                    let span = document.getElementsByClassName("close")[0];
                    modal.style.display = "block";
                    span.onclick = function() {
                        modal.style.display = "none";
                    }
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}

    <div class="topnav" id="myTopnav">
        {% block sidebar %}
        <a style="pointer-events: none; cursor: default;" id = "exception"> <img src="{{ asset('build/images/logo.png') }}" width="108" height="46" style="vertical-align: middle"> </a>
        <a href="/BoardFind/Home">Home</a>
        <a class="active" href="/BoardFind/EventsAndPeople">Events & People</a>
        <a href="/BoardFind/Trade">Trade</a>
        <a href="#chat">Chat</a>
            {% if app.session.has('id') == true %}
                <a href="/BoardFind/Account">Account</a>
            {% endif %}
        <a href="/BoardFind/About">About us</a>
        {% endblock %}
        {% block active %}
            {% if app.session.has('id') == true %}
                {% if isAdmin(app.session.get('id')) == true %}
                        <a href="/BoardFind/Admin"> Admin Panel </a>
                {% endif %}
            {% endif %}
        {% endblock %}
        {% if app.session.has('id') == false %}
            <a style="float:right" href="/BoardFind/Register">Register</a>
            <a style="float:right" href="/BoardFind/Login">Login</a>
        {% else %}
            <a style="float:right" href="/BoardFind/Logout">Logout</a>
            <a style="float:right;pointer-events: none; cursor: default;">Hello, {{userIdInformation(app.session.get('id'))}}</a>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="bars"></i></a>
    </div>


{% block moto %}
    <div>
        <p align="center">
            <span class="heading"> Choose your game & find a team! </span>
        </p>
    </div>
{% endblock %}
<br><br>

{% block pageContent %}
{% endblock %}

{% block footer %}
    <div id="footer">
        <br>
        <div align="center">
            <a href="https://www.facebook.com/The-BoardFinders-1834097936893854/" target="_blank"><img id="soc" src="{{ asset('build/images/1.png') }}" width ="90" height ="90"></a> &nbsp
            <a href="https://twitter.com/Todorakisa" target="_blank"><img id="soc" src="{{ asset('build/images/2.png') }}" width ="90" height ="90"></a> &nbsp
            <a href="https://www.linkedin.com/" target="_blank"><img id="soc" class="in" src="{{ asset('build/images/3.png') }}" width ="90" height ="90"></a> &nbsp
            <a href="https://www.instagram.com/todor.domitrov2000/" target="_blank"><img id="soc" src="{{ asset('build/images/4.png') }}" width ="90" height ="90"></a> &nbsp
            <br><br>
                <span id = "more">
                <a href="#Advertising" style="text-decoration: none; color:#FFFFFF" target="_blank"><b>Advertising</b></a>&nbsp
                |&nbsp <a href="#Terms" style="text-decoration: none" target="_blank"><b>Terms and Conditions</b></a>&nbsp
                |&nbsp <a href="#FAQ" style="text-decoration: none" target="_blank"><b>FAQ</b></a>&nbsp
                |&nbsp <a href="#Contact" style="text-decoration: none" target="_blank"><b>Contact us</b></a></font>
                </span>
            <br><br>
            <span id="copy">Copyright © 2019 Board Game inc.™</span>
            <br><br>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
{% endblock %}
<script>
    let mod = document.getElementById('Modal');
    let s = document.getElementsByClassName("close")[0];
    let button = document.getElementById('catch');
    mod.style.display = "none";
    button.onclick = function() {
        mod.style.display = "block";
    }
    s.onclick = function() {
        mod.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == mod) {
            mod.style.display = "none";
        }
    }
</script>

</body>

</html>