{% extends '/home/base.html.twig' %}
{% block title %}Events & People{% endblock %}
{% block pageContent %}

<div align="center" id="space">
    <input class="input1" type="text" name="search" placeholder="Search Event">
</div>

<br>
    <div align="center">
        <div id="map"></div>
    </div>
<br>
<div class="transbox">
    <p align="center" class ="specialText">
        <span class="blue"> INFO </span>
    </p>
    <p id="info" class ="specialText">
        <span class="blue"> Event name: </span> My first event
        <br>
        <span class="blue"> Games at the event: </span> Seven Wonders
        <br>
        <span class="blue"> Date: </span> 14.03.2018
        <br>
        <span class="blue"> Place: </span> Mazeto na Tosho
        <br>
        <span class="blue"> Players: </span> todor.domitrov2000@gmail.com
</div>
</p>
<br>
<p align="center" class ="specialText">
    <a href="/BoardFind/EventsAndPeople/RegisterEvent"><button class="create button1"><b>Create an Event</b></button></a>
    OR
    <a><button  button class="create button1"><b>See All Events</b></button></a>
</p>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxMtLzGZfEeh9d7OfVQPj3OxNFWvl-jn8">
</script>
    <script>
        function init(){
            var markerCurrentPosition;
            var infowindow = new google.maps.InfoWindow({
                content:"Hello World!"
            });
            var map =  new google.maps.Map(document.getElementById('map'), {zoom: 17, center: new google.maps.LatLng(37 , 37)});
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
                markerCurrentPosition = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: 'Your Location',
                    icon: '{{ asset('build/images/CurrentPosition.ico') }}'
                });
                google.maps.event.addListener(markerCurrentPosition, 'click', function() {
                    infowindow.open(map,markerCurrentPosition);
                });
            });

            {% for key,event in arrayOfEvents %}
                {% if event.isdeleted == false %}
                var marker = new google.maps.Marker({
                    position: { lat: {{ event.latitude }}, lng: {{ event.longitude }}  },
                    map: map,
                    icon: '{{ asset('build/images/EventPositions.png') }}'
                });
                {% endif %}
            {% endfor %}

            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(map, event.latLng);
            });

            function placeMarker(map, location) {
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: true,
                    icon: '{{ asset('build/images/EventPositions.png') }}'
                });
                var infowindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' + location.lat() +
                        '<br>Longitude: ' + location.lng()
                });
                infowindow.open(map,marker);
            }
        }
        window.onload = init;
    </script>
{% endblock %}
