{% extends '/home/base.html.twig' %}
{% block title %}About{% endblock %}
{% block sidebar %}
    <a style="pointer-events: none; cursor: default;" id = "exception"> <img src="{{ asset('build/images/logo.png') }}" width="108" height="46" style="vertical-align: middle"> </a>
    <a href="/BoardFind/Home">Home</a>
    <a href="/BoardFind/EventsAndPeople">Events & People</a>
    <a href="/BoardFind/Trade">Trade</a>
    <a href="#chat">Chat</a>
    {% if app.session.has('id') == true %}
        <a href="/BoardFind/Account">Account</a>
    {% endif %}
    <a href="/BoardFind/About">About us</a>
{% endblock %}
{% block active %}
    <a class="active" href="/BoardFind/Admin"> Admin Panel </a>
{% endblock %}
{% block pageContent %}

    <p align = "center">
        <span class="tradetitle"> Users </span>
    </p>

    <div class = "transbox3">
        <p class = "trade">
            Username | Name | Last Name
        </p>
        {% for key,user in arrayOfUsers %}
            {% if user.isdeleted == false %}
                <br>
                <p class = "trade">
                    {{  user.username }} | {{  user.name }} | {{  user.lastname }}
                    <a href="/BoardFind/Admin/DeleteUser/{{user.id}}" ><button class= "create3 delete"><b>Delete</b></button></a>
                </p>
                <br>
            {% endif %}
        {% endfor %}
    </div>
    <br>
{% endblock %}