{% extends '/home/base.html.twig' %}
{% block title %}OfferDetails{% endblock %}
{% block sidebar %}
    <a style="pointer-events: none; cursor: default;" id = "exception"> <img src="{{ asset('build/images/logo.png') }}" width="108" height="46" style="vertical-align: middle"> </a>
    <a href="/BoardFind/Home">Home</a>
    <a href="/BoardFind/EventsAndPeople">Events & People</a>
    <a class="active" href="/BoardFind/Trade">Trade</a>
    <a href="#chat">Chat</a>
    {% if app.session.has('id') == true %}
        <a href="/BoardFind/Account">Account</a>
    {% endif %}
    <a href="/BoardFind/About">About us</a>
{% endblock %}
{% block pageContent %}
<div class = "whole">
    <div class = "contain3">
        <img src="{{ asset('build/images/monopoly.jpg') }}" class = "detpic">
    </div><div class = "contain4">
        <div class = "ofname" align = "center"> {{ Offer.title }} </div>
        <br>
        Game: &nbsp {{ Offer.nameofgame }}
        <br><br>
        Email: &nbsp {{ getEmailByOfferId(Offer.id) }}
        <br><br>
        Seller: &nbsp {{ getNameByOfferId(Offer.id) }} {{ getLastNameByOfferId(Offer.id) }}
        <br><br>
        Phone: &nbsp {{ getTelephoneByOfferId(Offer.id) }}
    </div><div class = "contain5">
        <div align = "center" class = "offerprice"> {{ Offer.price }}$ </div>
        <br>
        <div class = "bac2">
            <img class="sellerpic" src="{{ asset('build/images/87h.jpg') }}">
            <br>
            <div class = "sellusername"> {{ getOfferUsername(Offer.id) }} </div>
            <br>
        </div>
    </div>
</div>
<br>
<div class = "contain6">
    <div class = "offerdes" align = "center"> Description: </div>
    <br>
    {{ Offer.description }}
</div>
<br><br>
{% endblock %}