{% extends '/home/base.html.twig' %}
{% block title %}RegisterOffer{% endblock %}
{% block sidebar %}
    <a style="pointer-events: none; cursor: default;" id = "exception"> <img src="{{ asset('build/images/logo.png') }}" width="108" height="46" style="vertical-align: middle"> </a>
    <a href="/BoardFind/Home">Home</a>
    <a href="/BoardFind/EventsAndPeople">Events & People</a>
    <a class="active" href="/EventsAndPeople/Trade">Trade</a>
    <a href="/BoardFind/Trade">Chat</a>
    <a href="/BoardFind/About">About us</a>
{% endblock %}
{% block pageContent %}
    <br><br>
    <div class="transbox7"
         margin-left="20%";
         margin-right="20%";>
        <p align="center" class ="reg">
            <span class="regreg"> Create an Offer </span>
            <br><br>
        </p>
        <div align="center">
            <div id="info" class ="fill">
                {{ form_start(form) }}
                {{ form_row(form.title, { 'attr': {'class': 'fill'} }) }}
                <br>
                {{ form_row(form.nameofgame, { 'attr': {'class': 'fill'} }) }}
                <br>
                {{ form_row(form.price, { 'attr': {'class': 'fill'} }) }}
                <br>
                {{ form_row(form.description, { 'attr': {'class': 'fill'} }) }}
                <br>
                <p class="mustadd" align="center">fields with * must be filled!</p>
            </div>
        </div>
    </div>
    <br>
    <div align="center">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form)}}
    <br><br>
{% endblock %}